.perfil-bar {
  position: absolute;
  top: 75px;
  right: 0;
  width: 250px;
  padding: 0;
}

.perfil-bar-header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 0;
  text-align: center;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil-bar-container {
  top: 30px;
  right: 0;
  background-color: #1d1d1d;
  padding: 15px;
  border: 1px solid #1d1d1d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 0;
}

.perfil-bar h2 {
  margin-top: 0;
}

.perfil-bar ul {
  list-style: none;
  padding: 0;
  flex-direction: column;
  align-items: left;
}

.perfil-bar li {
  margin-bottom: 25px;
  width: 100%;
  text-align: left;
  color: #ffffff;
}

.perfil-bar a {
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, rgba(69, 94, 235, 0.5), rgba(177, 176, 255, 0.212));
  transition: background-color 0.2s ease-in-out;
}

.perfil-bar a:hover {
  background-color: #ddd;
}