.side-bar {
    position: absolute;
    top: 80px;
    left: -10px;
    width: 199px;
    height: calc(96.93vh - 50px);
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
  }
  
  .home-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 0;
    text-align: center;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .side-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
  }
  
  .side-bar li {
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
  }
  
  .side-bar a {
    color: #333;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.2s ease-in-out;
  }
  
  .side-bar a:hover {
    background-color: #ddd;
  }